.header {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    width: 512px;
    font-size: 1.2rem;
    font-weight: 700;
}


.header img {
    width: 40px;
}