@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#home {
    min-height: 60vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

#home .home-content {
    margin-left: 6rem;
}
#home .home-content h1 {
    text-align: left;
    font-size: 8.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;

    background: linear-gradient(to right, var(--primary-blue), var(--primary-orange), var(--primary-magenta), rgba(0, 0, 0, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: fit-content;
}
#home .home-content p {
    margin-bottom: 1.4rem;
}
#home .comment {
    margin-top: 3rem;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--gray);
}
#home > img {
    width: 22rem;
    animation: rotate 45s linear infinite; /* Rotation infinie sur 5 secondes */
}

