@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "./variables.css";
@import "./buttons.css";

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

main {
  height: 100%;
  min-height: 65vh;
}

.wrap {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
}

* {
  color: var(--white);
  font-family: var(--ubuntu);
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ubuntu);
}

h1 {
  text-align: center;
  font-size: 4.8rem;

  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 5rem;

  background: linear-gradient(to right, var(--primary-blue), var(--primary-orange));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
}

h2 {
  font-size: 2.4rem;
  margin-top: 1rem;
}

p {
  font-family: var(--montserrat);
  line-height: 150%;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--montserrat);
}
